@font-face {
  font-family: f1font;
  src:url(../fonts/Formula1-Regular.ttf);
}


body {
  background-image: url('../images/blue-gradient-background.jpg');
  font-family: f1font;

}
h1 {
  color: white;
  text-shadow: 3px 3px 3px blue;
}

h2 {
  color: white;
  text-shadow: 3px 3px 3px blue;
}

h4 {
  margin: 0.5em;
}

section {
  display: grid;
  grid-template: "race standings";
}

.seasons-races {
  grid-area: race;
  overflow: scroll;
}

button {
  max-height: 50px;
}

.championship-wrapper{
  grid-area:standings;
  max-height: 100%;
  overflow: scroll;
  color: black;
}

.championship-wrapper table {
  background-color: rgba(110, 110, 110, 0.35);
  border-radius: 12px;
  text-shadow: 2px 2px 8px white;
  align-items: center;
}

nav {
  display: grid;
  width: 100px;
}
.race {
  font-family: f1font;
  display: block;
  background-color: rgba(110, 110, 110, 0.35);
  color: black;
  text-shadow: 2px 2px 8px white;
  cursor: pointer;
  padding: 12px;
  width: 475px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 12px;
}

.seasons-races .results {
  padding: 0;
  max-height: 500px;
  width: 475px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.72);
  display: none;
  opacity: 0.6;
  border-radius: 12px;
}
